{{ if .Cards }}
<h2 id="{{ .HtmlId }}" class="collapsible">Anniversaries {{ .From.Format "02.01.06" }} – {{ .To.Format "02.01.06" }}</h2>
<table>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
    </tr>
    {{ range .Cards }}
    <tr>
        <td>
            {{ .Name }}
            {{ if .Type }}<br/>
            <span class="location">{{ .Type }}</span>
            {{ end }}
        </td>
        <td>{{ .DateFormatted }} ({{ .Years }})</td>
    </tr>
    {{ end }}
</table>
{{ end }}
